@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  font-family: "SF Mono", "Roboto Mono", "Menlo", monospace;
}

.swal-overlay {
  background-color: rgba(233, 47, 50, 0.45);
}
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: rgb(246, 174, 10);
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

/* Style page content */
#map {
  height: 100%;
  width: 80%;
  padding: 0px 10px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%;
  min-width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgb(246, 174, 10); /* Grey */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}

.square {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border: 2px solid black;
}

.check {
  margin-right: 5px;
  background-color: #000;
}

.checkboxes {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#location {
  background-color: #000;
  color: #fff;
  width: 100%;
}
button {
  background-color: #000;
  color: #fff;
}

#white {
  background-color: #fff;
}

#blue {
  background-color: #4365fd;
}

#ltblue {
  background-color: #88ffe5;
}

#yellow {
  background-color: #fcf649;
}

#pink {
  background-color: #f14e8c;
}

#green {
  background-color: #52ff69;
}

#purple {
  background-color: #6b36fe;
}

#red {
  background-color: #f04741;
}

/* Light mode */
body {
  background: #fff;
  color: #000;
}

/* Dark mode */
body.dark {
  background: #000;
  color: #fff;
}
