html {
  max-width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-image: url(/images/wheat.jpeg);
}

body {
  background-color: tan;
}

#home-search {
  margin: 10px;
}

#header {
  background-image: url(/images/beertaps.jpg);
  background-size: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  text-align: center;
}

#menu {
  display: flex;
  justify-content: flex-end;
}

.display-4 {
  font-family: fantasy;
  color: mediumblue;
  text-decoration: underline;
}

#home-main {
  margin: 100px;
}

.container-fluid {
  margin: 2em;
}

#footer{
  background-color: #814D30;
}

.foot-title {
  display: flex;
  justify-content: center;
  font-family: fantasy;
  color: mediumblue;
  text-decoration: underline;
}

.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.copyright {
  font-size: small;
  display: flex;
  justify-content: center;
  font-family: fantasy;
  color: mediumblue;
  text-decoration: underline;
  padding-top: 15px;
}

#feedback {
  margin: 10px;
}

h3 {
  font-family: fantasy;
  color: mediumblue;
  text-decoration: underline;
}



/* animation */

#title {
  font-family: fantasy;
  color: mediumblue;
  text-decoration: underline;
}

#lead {
  color: mediumblue;
}

#comments {
  margin: 100px;
}

#sign-up {
  margin: 100px;
}

/* end animation */

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
